.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.info {
    border-color: rgb(255, 145, 0);
    color: rgb(255, 60, 0);
    border-radius: 5px;
}

.info:hover {
    background: rgb(255, 145, 0);
    color: white;
}